@font-face {
  font-family: 'TF2second';
  src: url(../fonts/tf2secondary.ttf);
}

@font-face {
  font-family: 'TF2build';
  src: url(../fonts/tf2build.ttf);
}
#wrapper {
	min-height: 100%; /* Mindesthöhe für moderne Browser */
	height: auto !important; /* Important Regel für moderne Browser */
	height: 100%; /* Mindesthöhe für den IE */
	overflow: hidden !important; /* FF Scroll-leiste */
	width: 70%;
	min-width: 1000px;
	margin: auto;
	margin-top: 0;
	/*background: rgb(99, 95, 97);
	background: rgba(99, 95, 97, 0.4)*/
}
/* Header + Navigation */
#header {
	width: 95%;
	height: 200px;
	/*background: url(http://lorempixel.com/1000/200/city/1/) no-repeat center;*/
	margin: auto;
	z-index:-1;
}

#header hgroup {
	font-family: 'TF2build', Arial;
	color: #3A3F4B;
}

.navi_content {
	font-family: 'TF2second', Arial;
	color: #fff;
	font-size: 2em;
	padding-left: 20px;
	position:relative;
	background: -moz-linear-gradient(top, #322E2A, rgba(119, 107, 95, 0.85));
	background: -webkit-linear-gradient(top, #322E2A, rgba(119, 107, 95, 0.85));
	background: -ms-linear-gradient(top, #322E2A, rgba(119, 107, 95, 0.85));
	background: -o-linear-gradient(top, #322E2A, rgba(119, 107, 95, 0.85));
	height: 40px;
	border: 2px solid #2B2724;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-bottom: 5px;
	/*-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/
}

.navi_content:before, .navi_content:after {
	content: "";
	position: absolute;
	z-index: -2;
}

.curved:before {
	top: 10px;
	bottom: 10px;
	left: 0;
	right: 50%;
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,0.6);
	-moz-box-shadow: 0 0 15px rgba(0,0,0,0.6);
	box-shadow: 0 0 15px rgba(0,0,0,0.6);
	-moz-border-radius: 10px /100px;
	border-radius: 10px /100px;
}

.curved-hz-2:before {
	top: 0;
	bottom: 0;
	left: 10px;
	right: 10px;
	-moz-border-radius: 100px /10px;
	border-radius: 100px /10px;
}

/* Content */

#main {
	width: 95%;
	margin: auto;
	clear: both;
}

#side_left {
	background-color: #0c0;
	width: 200px;
	float: left;	
}
#side_right {
	background-color: #f60;
	float: right;
	width: 200px;	
}

#content {
	background: rgb(99, 95, 97);
	background: rgba(99, 95, 97, 0.4);
	height: 3000px;
	overflow: hidden;
}

/* Footer */

#footer {
	height: 300px;
	clear: both;
	background: rgb(227, 159, 0);
	background: rgba(227, 159, 0, 0.4)
}
