@font-face {
	font-family: 'TF2second';
	src: url(../fonts/tf2secondary.ttf);
}
@font-face {
	font-family: 'TF2build';
	src: url(../fonts/tf2build.ttf);
}
body {
	color: #F1E8D7;
	min-height: 100%; /* Mindesthöhe für moderne Browser */
	height: auto !important; /* Important Regel für moderne Browser */
	height: 100%; /* Mindesthöhe für den IE */	
}
a {
	/*color: #ca880c;*/
	color: #a5710e;
	text-decoration: none;
	text-shadow: 0 1px 1px black;
}
a:hover {
	/*color: #97660a;*/
	color: #7c5305;
	text-shadow: 0 1px 1px #494949;
}
h1, h2, h3 ,h4, h5 {
	margin-bottom: 0px;
	margin-top: 0px;
}
/* Header + Navigation */
header {
	background: -moz-linear-gradient(top,  rgba(161,219,255,0.7) 0%, rgba(240,249,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(161,219,255,0.7)), color-stop(100%,rgba(240,249,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(161,219,255,0.7) 0%,rgba(240,249,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(161,219,255,0.7) 0%,rgba(240,249,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(161,219,255,0.7) 0%,rgba(240,249,255,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(161,219,255,0.7) 0%,rgba(240,249,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3a1dbff', endColorstr='#00f0f9ff',GradientType=0 ); /* IE6-9 */

}
header div {
	width: 75%;
	min-width: 1000px;
	margin: auto;		
	height: 200px;
}
header div hgroup {
	font-family: 'TF2build', Arial;
	color: #3A3F4B;
	text-align:right;
}
header div img {
	position:absolute;
	padding-left: 20px;
}
nav {
	
	width: 75%;
	min-width: 1000px;
	margin-top: -25px !important;
	margin-left: auto;
	margin-right: auto;
	font-family: 'TF2second', Arial;
	font-size: 2em;	
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMyMmUyYSIgc3RvcC1vcGFjaXR5PSIwLjg1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0NzQyNDEiIHN0b3Atb3BhY2l0eT0iMC44NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(50,46,42,0.85) 0%, rgba(71,66,65,0.85) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(50,46,42,0.85)), color-stop(100%,rgba(71,66,65,0.85)));
	background: -webkit-linear-gradient(top,  rgba(50,46,42,0.85) 0%,rgba(71,66,65,0.85) 100%);
	background: -o-linear-gradient(top,  rgba(50,46,42,0.85) 0%,rgba(71,66,65,0.85) 100%);
	background: -ms-linear-gradient(top,  rgba(50,46,42,0.85) 0%,rgba(71,66,65,0.85) 100%);
	background: linear-gradient(to bottom,  rgba(50,46,42,0.85) 0%,rgba(71,66,65,0.85) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9322e2a', endColorstr='#d9474241',GradientType=0 );
	height: 40px;
	border: 2px solid #2B2724;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-bottom: 5px;
	-webkit-box-shadow: 2px 2px 5px rgba(43, 39, 36, 0.8);
	box-shadow: 2px 2px 5px rgba(43, 39, 36, 0.8);
	text-shadow: 0 1px 1px black;
}
nav span{
	margin-left:10px;
}
/* Content */

#main_wrapper {	
}
#main {
	width: 75%;
	min-width: 1000px;
	margin: auto;
	margin-top: 0;
	clear: both;
}
#side_left {
	width: 215px;
	float: left;
	margin-right: 5px;
}
#side_right {
	float: right;
	width: 215px;
	margin-left: 5px;
}
#content {
	overflow: hidden;
}
.panel {
	padding: 5px;
	margin: 0 5px 10px 5px;
	border: 1px solid #2B2724;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg3N2Q3MSIgc3RvcC1vcGFjaXR5PSIwLjg1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3NzZiNWMiIHN0b3Atb3BhY2l0eT0iMC44NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(135,125,113,0.85) 0%, rgba(119,107,92,0.85) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(135,125,113,0.85)), color-stop(100%,rgba(119,107,92,0.85)));
	background: -webkit-linear-gradient(top,  rgba(135,125,113,0.85) 0%,rgba(119,107,92,0.85) 100%);
	background: -o-linear-gradient(top,  rgba(135,125,113,0.85) 0%,rgba(119,107,92,0.85) 100%);
	background: -ms-linear-gradient(top,  rgba(135,125,113,0.85) 0%,rgba(119,107,92,0.85) 100%);
	background: linear-gradient(to bottom,  rgba(135,125,113,0.85) 0%,rgba(119,107,92,0.85) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9877d71', endColorstr='#d9776b5c',GradientType=0 );
	-webkit-box-shadow: 2px 2px 5px rgba(43, 39, 36, 0.8);
	box-shadow: 2px 2px 5px rgba(43, 39, 36, 0.8);
}
.panel .maincap {
	background: url(../img/panelback.png) repeat;
	border-bottom: 2px solid #39332F;
	margin: -5px -5px 5px -5px;
	padding: 5px;
	font-size: 1em;
	font-weight: bold;
	-webkit-box-shadow: 0px 2px 7px rgba(43, 39, 36, 0.8);
	box-shadow: 0px 2px 7px rgba(43, 39, 36, 0.8);
}
.panel .contentbody {
	margin-top: 5px;
	color: #292526;
}
.pagenav {
	padding-bottom: 0.6em;
	font-weight: bold;
}
.pagenav span {
	border: 1px solid #2B2724;
	background-color: rgba(109, 102, 94, 0.8);
	background-color: rgb(109, 102, 94);
	border-radius: 5px;
	-moz-border-radius: 5px;	
	-webkit-border-radius: 5px;
	padding: 0.2em 0.4em 0.2em 0.4em;
	margin: 0.2em;
	-webkit-box-shadow:inset 2px 2px 7px rgba(43, 39, 36, 0.8);
	box-shadow:inset 2px 2px 7px rgba(43, 39, 36, 0.8);
}
.pagenav a {
	background: url(../img/panelback.png) repeat;
	background-color: rgba(135,125,113,0.85);
	background-color: rgb(135,125,113);
	border: 1px solid #2B2724;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 0.2em 0.4em 0.2em 0.4em;
	margin: 0.2em;
	text-decoration: none;
	-webkit-box-shadow: 2px 2px 7px rgba(43, 39, 36, 0.8);
	box-shadow: 2px 2px 7px rgba(43, 39, 36, 0.8);
}
.pagenav a:hover {
	color: #F1E8D7;
	background-color: rgba(50,46,42,0.85);
	background-color: rgb(50,46,42,);
	border: 1px solid #49433e;
}
/* Side left/right */
.scapmain {
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMyMmUyYSIgc3RvcC1vcGFjaXR5PSIwLjg1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0NzQyNDEiIHN0b3Atb3BhY2l0eT0iMC44NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(50,46,42,0.85) 0%, rgba(71,66,65,0.85) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(50,46,42,0.85)), color-stop(100%,rgba(71,66,65,0.85)));
	background: -webkit-linear-gradient(top,  rgba(50,46,42,0.85) 0%,rgba(71,66,65,0.85) 100%);
	background: -o-linear-gradient(top,  rgba(50,46,42,0.85) 0%,rgba(71,66,65,0.85) 100%);
	background: -ms-linear-gradient(top,  rgba(50,46,42,0.85) 0%,rgba(71,66,65,0.85) 100%);
	background: linear-gradient(to bottom,  rgba(50,46,42,0.85) 0%,rgba(71,66,65,0.85) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9322e2a', endColorstr='#d9474241',GradientType=0 );
	-webkit-box-shadow: 2px 2px 5px rgba(43, 39, 36, 0.8);
	box-shadow: 2px 2px 5px rgba(43, 39, 36, 0.8);
}
.side_border_left .scapmain {
	position: relative;
	padding: 5px;
	border: 1px solid #2B2724;
	-webkit-border-radius: 5px;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius: 5px;
	-moz-border-radius-bottomright: 0;
	border-radius: 5px;
	border-bottom-right-radius: 0;
}
.side_border_right .scapmain {
	position: relative;
	padding: 5px;
	border: 1px solid #2B2724;
	-webkit-border-radius: 5px;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius: 5px;
	-moz-border-radius-bottomleft: 0;
	border-radius: 5px;
	border-bottom-left-radius: 0;
}
.side_body {
	border: 1px solid #2B2724;
	border-top: 0px;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg3N2Q3MSIgc3RvcC1vcGFjaXR5PSIwLjg1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3NzZiNWMiIHN0b3Atb3BhY2l0eT0iMC44NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(135,125,113,0.85) 0%, rgba(119,107,92,0.85) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(135,125,113,0.85)), color-stop(100%,rgba(119,107,92,0.85)));
	background: -webkit-linear-gradient(top,  rgba(135,125,113,0.85) 0%,rgba(119,107,92,0.85) 100%);
	background: -o-linear-gradient(top,  rgba(135,125,113,0.85) 0%,rgba(119,107,92,0.85) 100%);
	background: -ms-linear-gradient(top,  rgba(135,125,113,0.85) 0%,rgba(119,107,92,0.85) 100%);
	background: linear-gradient(to bottom,  rgba(135,125,113,0.85) 0%,rgba(119,107,92,0.85) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9877d71', endColorstr='#d9776b5c',GradientType=0 );
	-webkit-box-shadow: 2px 2px 5px rgba(43, 39, 36, 0.8);
	box-shadow: 2px 2px 5px rgba(43, 39, 36, 0.8);
	color: #292526;
}
.side_border_left .side_body {
	padding: 5px;
	margin: 0 0 5px 5px;
}
.side_border_right .side_body {
	padding: 5px;
	margin: 0 5px 5px 0;
}
/* Footer */
footer {
	background: url(../img/stone.jpg) left top;
	border-top: 2px solid #1F2125;
	height: 200px;
	clear: both;
	-webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
}
footer h3 {
	position: relative;
	color: #323640;
	top: 170px;
	text-shadow: 0 -1px 1px #232935, 0 1px 1px #464e5c;
	margin-bottom: 0px;
	margin-top: 0px;
}
footer h3 a {
	color: #2a2f3b;
	text-decoration: none;
}
footer h3 a:hover {
	color: #323640;
	text-decoration: none;
}
.flleft {float: left !important;}
.footernav {
	position: relative;
	left: 50%;	
}
.footernav .links-section {
	position: relative;
	right: 50%;
	width: 250px;
	margin-left: 20px;
	margin-right: 20px;
	border:1px solid #1F2125;
	background: rgb(57, 63, 75);
	background: rgba(57, 63, 75, 0.9);	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	-webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
}
.links-section h4 {
	color: #F1E8D7;
	font-size: 14px;	
	text-align:center;
	padding: 5px;
	-webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
		
}
.links-section li, .links-section ul {	
	line-height: 26px;
	list-style-type: none;
	padding: 0;	
	text-align:left;		
}
.links-section ul {	
	padding-left: 10px;	
	margin:0;	
}